body {
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    line-height: 150%;
}

.container {
    max-width: 60ch;
    margin-left: auto;
    margin-right: auto;
}

.title {
    text-align: center;
}

/**
 * Markdown style
 */
.markdown p, ul {
    color: #505050;
    margin-bottom: 1em;
}

.markdown b, strong {
    color: black;
}

.markdown i, em {
    color: #A1A1A1;
    color: #ADBDCC;
    font-weight: bold;
}

.markdown code, pre {
    font-family: "Roboto Mono", monospace;
    font-size: calc(1em - .05em);
}

.markdown code {
    color: #4D8ABF;
}

.markdown pre {
    background-color: rgba(0,0,0,.05);
    overflow-x: auto;
}

.markdown h1, h2, h3, h4, h5, h6 {
}

.markdown h1 {
    margin-top: 3em;
}

.markdown h2 {
}

.markdown h3 {
    text-transform: uppercase;
    font-size: 1.1em;
    letter-spacing: 1px;
    margin-bottom: .5em;
}

.markdown h4 {

}

.markdown h5 {

}

.markdown h6 {

}

.markdown blockquote {
    background-color: rgba(0,0,0,.05);
    margin-left: 0;
}

.markdown code {

}
