*, *:before, *:after {
    font-size: 100%;
    line-height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-size: 20px;
}

html, body {
    height: 100%;
}

.u-widthMax1000 {
    max-width: 1000px;
}
